<h1>Employee List</h1>
<br>
<br>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="form-group">
    <label for="search-employee">Search Employee:</label>
    <input type="text" class="form-control" id="search-employee" 
    [(ngModel)]="searchTerm" placeholder="Enter name to search"
      autofocus>
</div>
<button class= "button btn" routerLink = "/employee-add">ADD EMPLOYEE</button>
  <br>
  <br>
  <br>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Gender</th>
            <th>DateofBirth</th>
            <th>Designation</th>
            <th>Email Id</th>
            <th>Phone Number</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of filteredEmployees">
            <td>{{employee.Firstname}}</td>
            <td>{{employee.Lastname}}</td>
            <td>{{employee.Gender}}</td>
            <td>{{employee.Dateofbirth}}</td>
            <td>{{employee.Designation}}</td>
            <td>{{employee.Email}}</td>
            <td>{{employee.Phonenumber}}</td>
            <td>
                <div>
                    <button class= "button button2" (click) = "updateInfo(employee.Id)" title = "UPDATE"><i class="fa fa-edit"></i></button>
                    <button class= "button button3" (click) = "deleteData(employee.Id)" title = "DELETE"><i class="fa fa-trash"></i></button>
                </div>
            </td>
        </tr>
    </tbody>
</table>

